includeConfig "$baseDir/conf/aws_batch.config"
includeConfig "$baseDir/params.config"

manifest {
  name = 'Illumina Basespace data transfer'
  author = 'Xiandong Meng'
  homePage = 'https://github.com/fischbachlab/nf-basespace'
  description = 'Transfer fastq files from Illumina Basespace to aws s3'
  mainScript = 'main.nf'
  version = '0.0.1'
  defaultBranch = 'main' //github branch name
}

//process.container = 'fischbachlab/nf-json-processor:latest'
docker.enabled = true

// https://github.com/nextflow-io/nextflow/issues/856
threadPool.PublishDir.maxAwait = 24.h

process {
  maxRetries = 1
  executor = 'awsbatch'
  queue = "default-maf-pipelines"
  cleanup = true
  cache = false
}

aws {
  region = "us-west-2"
}

profiles {
  //awsbatch { includeConfig 'conf/awsbatch.config' }
  //conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  //singularity { singularity.enabled = true }
  //test { includeConfig 'conf/test.config' }
}


timeline {
  enabled = false
  overwrite = true
  file = "$params.output/execution_reports/timeline.html"
}

report {
  enabled = false
  overwrite = true
  file = "$params.output/execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.output/execution_reports/pipeline_dag.html"
}
