includeConfig "$baseDir/conf/aws_batch.config"
includeConfig "$baseDir/params.config"

manifest {
  name = 'Illumina Basespace data transfer'
  author = 'Xiandong Meng'
  homePage = 'https://github.com/fischbachlab/nf-basespace'
  description = 'Transfer fastq files from Illumina Basespace to aws s3'
  mainScript = 'main.nf'
  version = '0.0.1'
  defaultBranch = 'main' //github branch name
}

//process.container = 'fischbachlab/nf-json-processor:latest'
docker.enabled = true


process {
  maxRetries = 1
  executor = 'awsbatch'
  queue = "default-maf-pipelines"
  cleanup = true
  cache = false
}
