includeConfig "$baseDir/conf/aws_batch.config"
includeConfig "$baseDir/params.config"

manifest {
  name = ''
  author = ''
  homePage = ''
  description = 'Basespace data transfer pipeline'
  mainScript = 'main.nf'
  version = '0.0.1'
  defaultBranch = 'main'
}

//process.container = params.container
docker.enabled = true


process {
  maxRetries = 1
  executor = 'awsbatch'
  queue = "default-maf-pipelines"
  cleanup = true
  cache = false
}


aws {
  basespace_api_server = secrets.BASESPACE_API_SERVER
  basespace_token = secrets.BASESPACE_TOKEN
}
