params {
    seqtype             = "miseq"
    container           = "quay.io/wikiselev/basespace-cli"
    config              = "s3://maf-users/Xiandong_Meng/test/default.cfg"
    output              = "s3://genomics-workflow-core/Results/Basespace/"
    project             = "230308_TY-16Sv4_KH9HP"
}
